.Hangman {
  width: 400px;
  color: black;
  text-align: center;
  zoom: 1.3;
}

.Hangman img {
  border: 10px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 65px;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman-btns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
}

.Hangman button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  outline: none;
}

.Hangman-btns button {
  font-size: 1rem;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  background: #ffc107;
  color: #fff;
  box-shadow: 0 6px #ff9800;
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman button:hover {
  background-color: #ff9800;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

#Hangman-restart {
  font-size: 35px;
  background-color: #ffc107;
  box-shadow: 0 6px #ff9800;
  border-radius: 10px;
}

#Hangman-restart:hover {
  position: relative;
  top: 3px;
  background-color: #ffc107;
  box-shadow: 0 3px #ff9800;
}

.Hangman-gameOver {
  color: purple;
}

.Hangman-win {
  color: greenyellow;
}
